.technologies {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 300px;
}


.icons {
  width: 100px;
  margin-bottom: 15px;
}

#js {
  width: 190px;
  height: 100px;
  margin-bottom: 15px
}

#technologies {
  position: relative;
  margin-top: 175px ;
  background-color: #005377;
  color: white
}

.contact-icons {
  width: 150px
}

.contact-flex div p {
  padding: 25px;
  font-size: 25px
}

.contact-box {
  height: 500px;
  background-color: #F4D35E
}

.contact-box h1 {
  color: #EF5B5B;
  height: 25%;
  font-size: 45px;
  padding: 45px
}

.contact-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75%
}

.project-box {
  height: 500px
}

.project-box h1 {
  padding-top: 25px;
  margin-bottom: 50px;
  text-align: center
}

.computer {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 585px; right: 0;
  width: 225px
}
}

#introduction {
  padding: 52px;
  height: 850px;
  margin-top: 20px;
}

body {
  background-color: white !important;
  background-image: url(images/prism.svg);
  background-repeat: no-repeat;
  background-size: auto;
  color: #414444 !important;
  font-family: Arial, sans-serif;
  letter-spacing: 1.5px;
}

.job-description {
  text-align: left;
  margin-left: 40px;
}

ul {
  list-style: none;
}

#profile-photo {
  width: 300px;
  border-radius: 180px;
  box-shadow: 2px 2px 3px rgb(225, 225, 225);
}

h1 {
  font-size: 43px
}

#job {
  font-size: 25px
}

.firm-box {
  display: flex;
  align-items: center;
}

.background {
  display: flex;
}

.firm-box2 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding:20px
}

li {
  list-style-type: none;
  text-underline-position: : none;
}

.container {
  text-align: center;
}




#job {
  padding: 18px
}


/*.box {
 margin: 50px;
 border-radius: 20px;
 background: white;
 box-shadow: 2px 2px 3px rgb(225, 225, 225);;
 padding: 22px;
 margin-bottom: 100px
}*/

.img-box {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.button {
  background-color: #EF5B5B; /* Green */
  border: none;
  color: white;
  padding: 18px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 54px;
  margin: 20px 0px 20px 0px;
  box-shadow: 2px 2px 3px rgb(225, 225, 225);
}

.list-inline ul {
  padding: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 20px;
  text-align: center;
}

i {
  margin-top: 10px;
}

.fab {
  color: rgb(50, 50, 50)
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }


}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */


/*TECHNOLOGIES*/

  .computer h1 {
    font-size: 35px;
  }

  .icons {
    width: 75px;
    height: 75px;
    margin-bottom: 15px
  }

  .icons h3 {
    font-size: 26px
  }

  #js {
    width: 160px;
    height: 75px;
    margin-bottom: 15px
  }

  #technologies h1 {
    font-size: 35px;
  }

/*CONTACT ME*/

  .contact-flex {
    display: block;
    height: 75%;
  }

  .contact-icons {
    width: 100px
  }

  .contact-flex div p {
    font-size: 15px
  }

  .contact-box h1 {
    font-size: 35px;
  }

/*PROJECTS*/

  .img-box {
    width: 240px;
    height: 240px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
  }

  .project-box {
    height: 435px
  }

  .project-box h1 {
   font-size: 35px;
  }

/*OTHERS*/

  .container {
    width: 500px;
  }

  h1 {
    font-size: 20px;
  }

  #profile-photo {
    width: 150px
  }

  #job {
    font-size: 16px
  }

  p {
    font-size: 15px;
    padding: 0px
  }

  #introduction {
  padding: 2px 4px;
}


@media (max-width: 595px) {
  /* For a screen < 540px, this CSS will be read */

  .container {
    width: 300px;
  }
    h1 {
      font-size: 10px;
    }

    #profile-photo {
      width: 180px
    }

    #introduction {
    padding: 1px 2px;
  }

  #introduction div h1 {
    font-size: 28px
  }

/*PROJECTS*/

.project-box {
  height: 640px
}

.project-box h1 {
  padding-top: 25px;
  margin-bottom: -10px;
  text-align: center
}

.firm-box2 {
  display: block;
  text-align: center;
  padding:20px;
}

.img-box {
  width: 230px;
  height: 230px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  margin: 30px auto;
}

/*TECHNOLOGIES*/

.computer h1 {
  font-size: 20px;
}

.icons {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px
}


#js {
  width: 110px;
  height: 50px;
  margin-top: 15px;
}


#technologies h1 {
  font-size: 20px;
  padding-bottom: 10px
}

.technologies {
  display: block;
  height: 450px;
}

.technologies h3 {
  font-size: 15px;
}

.computer {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 685px; right: 0;
  width: 225px
}
}

/*#technologies {
  position: relative;
  margin-top: 175px ;
  background-color: #005377;
  color: white
}*/

